[submodule "frontend-proj"]
	path = frontend-proj
	url = https://github.com/boscocp/projetoprenatal-frontend
[submodule "backend-proj"]
	path = backend-proj
	url = https://github.com/boscocp/projetoprenatal-backend
